body {
    font-family: Arial, sans-serif;
    padding: 0em;
    margin: 0em;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    min-height: 100vh;
}


/* Header + Navigation */
header {
    background-color: lightyellow;
    display: -webkit-box;  
    display: -moz-box;     
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;         
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    width: 100%;
    
}

header h1 {
    padding-left: 1.5em;
    
}

nav {
    height: 4em;
}

.hidden {
    display: none;
}

.content-section {
    display: none;
}

.active {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    height: 4em;
    width: 6em;
}

.dropdown-content {
    position: absolute;
    right:0em;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content.show {
    max-height: 500px; /* adjust based on your content */
    transition: max-height 0.5s ease-in;
    
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* Content */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: lightblue;
    height: calc(100vh - 8em);
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}

.animated-arrow {
    position: relative;
    top: 15px;
    right: 40px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    animation: bounce 1s infinite;
    align-self: end;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


/* Footer */
footer {
    background-color: lightyellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    min-height: 4em;
}

/* Flashcards */

.flash-cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding: 5px;
}

.flash-card {
    display: none;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 10px;
    perspective: 1000px;
}

.flash-card.active {
    display: block;
}

.flash-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flash-card-flip .flash-card-inner {
    transform: rotateY(180deg);
}

.flash-card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: lightcoral;
}

.flash-card-back {
    transform: rotateY(180deg);
    background-color: lightseagreen;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons button {
    margin-left: 1em;
    margin-right: 1em;
}
/* Deck Shower */

main .deck-shower-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 5px;
    width: 60%;
}

.deck-name {
    margin-left: 1em;
}

.deck-shower-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    width: 100%;
    min-width: 25em;
    height: 2.5em;
    background: white;
}

.shower-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.deck-shower-list button {
    margin: 5px 20px;
    padding: 0;
    padding-right: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background: none;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deck-shower-list button img {
    margin-right: 0.5em;
}

/* Deck create + edit */

.deck-create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deck-create-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-card{
    margin: 1em;
}

.card label {
    margin-left: 1em;
    margin-right: 1em;
}

.deck-creation-form input {
    padding: 3px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.deck-creation-form input:focus {
    border-color: #999;
    box-shadow: 0 0 5px #aaa;
    outline: none;
}

.deck-creation-form .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.error-messages {
    color: red;
}

/* Media for Phone */
@media (max-width: 768px) {
    h1 {
        font-size: 1em;
    }
    .deck-shower-item {
        width: 25em;
        min-width: 25em;
    }

    .deck-shower-list button {
        margin: 5px 10px;
    }
    .card  {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .card label {
        margin-left: 0px;
        margin-right: 0.5em;
    }
    .card {margin-top: 1em;}
}
